 $gray_medium: #888;
 $gray_dark: #555;

 html, body{ 
 	height: 100%; 
 	min-height: 400px;
 	overflow-y:hidden;
 	background-image: url(image_path('brushed.png'));
 }

 h1, h2, h3, h4, h5{
 	margin: 0;

 }


 ul{
 	margin: 0;
 	padding: 0;
 }

 li{
 	list-style-image: none;
 	list-style-type: none;
 }

 header{
 	height: 70px;
 	margin: 0%;
 }

 .header{
 	border-bottom: 1px solid #aaa;
 	-webkit-box-shadow: 0px 1px 1px #FFF;
 	-moz-box-shadow:    0px 1px 1px #FFF;
 	box-shadow:         0px 1px 1px #FFF;

 }

 .navbar{
 	margin: 0;
 }

 .map_index_content{
 	width: 100%;
	// background: red;
	padding: 20px;
	padding-top: 20px;
}

.map-cities-canvas{
	float: left;
	// background: green;
	height:100%;
	width: 37%;
}

.map-canvas { 
	float: left;
	// background: blue;
	height:100%;
	width: 62%;
	margin-left: 1%;
}

#map{
	width: 100%;
	height: 100%;
}

.map-cities{
	// border: 1px solid black;
	-moz-box-shadow:    inset 0 0 15px #707070;
	-webkit-box-shadow: inset 0 0 15px #707070;
	box-shadow:         inset 0 0 15px #707070;
	border-radius: 5px;
	background: #BBB;
	width: 100%;
	height: 100%;
	// background: pink;
	padding: 10px;
}

.map-city-search-canvas{
	width: 100%;
	height: 55px;
	background-image: url(image_path('brushed.png'));
	padding-left: 2px;
	padding-right: 2px;
	border-radius:5px;
	-webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.75);
	position: relative;
}

.autocomplete-container{
	width: 100%;
	background: $gray_dark;
	position: absolute;
	top: 55px;
	left:0;
	z-index: 1000;
	opacity:0.8;
	visibility: hidden;
	color: #fff;
	font-size: 15px;
}

.autocomplete-container ul{
	padding: 5px;
}

.autocomplete-container li{
	margin-bottom: 5px;
	text-transform:capitalize;
}

.autocomplete-container li:hover{
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
	background:#000;
}

.map-city-search-canvas input{
	height:100%;
	background:transparent;
	border:0;
	font-size: 20px;
}

.map-list-cities-canvas{
	width: 100%;
	// padding:20px 0;
	// height: 90%;
	// background: green;
	overflow-y: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.map-list-cities-canvas ul{
	margin: 0;
	padding: 0;
}

.map-list-cities-canvas li{
	width: 100%;
	// height: 60px;
	margin-bottom: 10px;
	background: purple;
	list-style-image: none;
	list-style-type: none;
	-webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 3px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 3px rgba(50, 50, 50, 0.75);
	background-image: url(image_path('brushed.png'));
	border-radius: 5px;
	padding: 5px;
	color: $gray_medium;
}

.city-name {
	font-size: 22px;
	float: left;
	margin-left: 5px;
	text-transform:capitalize;
	padding-top: 5px;
}

.city-flag{
	height:40px;
	width: 40px;
	float: left;
}

.city-date{
	float: right;
	font-size: 22px;
	padding-top: 5px;
}
.city-date span{
	margin-left: 5px;
}

.city-delete{
	margin-left: 15px;
	float: right;
}

.city-delete:hover{
	cursor:pointer;
}

.city-date-input{
	width:120px;
	background:transparent;
	border: 0;
	color: $gray_medium;
	cursor:pointer;
}

.map-search-tickets-btn-canvas{
	width: 100%;
	height: 55px;
	background-image: url(image_path('brushed.png'));
	border-radius: 5px;
	padding: 5px;
}
.ui-datepicker {
	font-size: 10px;
	position:absolute;
}

.ticket-list-cities p{
	margin: 0;
	font-size: 18px;
	text-transform:capitalize;

}

.path-name{
	float: left;
	width: 170px;
}

.path-name p{
	width:170px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.path-date-info{
	float: left;
	margin-left: 15px;
}

.path-other{
	float: left;
	margin-left: 30px;
}

.map-city-search-canvas h2{
	padding: 8px;
	color: $gray_medium;
	text-align: center;
}

.map-search-tickets-btn-canvas button{
	width: 100%;
	height: 44px;
	font-size: 20px;
	color: $gray_dark;
}

header{
	padding-top: 10px;
}

header a{
	color: $gray_dark;
}

header a:hover{
	color: $gray_medium;
}


.navbar-brand{
	font-size: 30px;
}


