<% content_for :javascript_includes do %>
<%= javascript_include_tag "map.js" %>
<% end %>
<% content_for :javascript_includes do %>
<%= javascript_include_tag "autocomplete.js" %>
<% end %>


<% content_for :css_includes do %>
<%= stylesheet_link_tag "map.css" %>
<% end %>



<%= render 'layouts/header' %>

<div class='map_index_content'>
  <div class="map-cities-canvas">
    <div class="map-cities">
      <div class="map-city-search-canvas">
       <input id='city-input'class="form-control" type="text" placeholder="Where are you?"/>
       <div class="autocomplete-container">
        <ul>
        </ul>
      </div>
    </div>
    <div class="map-list-cities-canvas">
      <ul class="map-list-cities">
        <li>
          <div>
            <img alt="'+v.country+'" class="city-flag" src="/assets/flags/'+v.country+'.png">
            <div class="city-name">'+city_name+'</div>
            <div class="city-delete">
              <span class="glyphicon glyphicon-remove-sign"></span>
            </div>
            <div class="city-date">
              <span class="glyphicon glyphicon-calendar"></span>
              <input class="city-date-input" type="text" placeholder="When?"/>
              
            </span>
          </div>
          <div class="clearfix"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="map-search-tickets-btn-canvas">

  </div>
</div>
</div>


<div class="map-canvas">
  <div id="map"></div>
</div>
</div>
