<% content_for :javascript_includes do %>
<%= javascript_include_tag "map.js" %>
<% end %>
<% content_for :css_includes do %>
<%= stylesheet_link_tag "map.css" %>
<% end %>

<%= render 'layouts/header' %>

<div class='map_index_content'>
	<div class="map-cities-canvas">
		<div class="map-cities">
			<div class="map-city-search-canvas">
					<input class="form-control" type="text" placeholder="Which city do you want to go?">
			</div>
			<div class="map-list-cities-canvas">
				<ul>
					<li></li>
					
				</ul>
			</div>
			<div class="map-search-tickets-btn-canvas">
			</div>
		</div>
	</div>


	<div class="map-canvas">
		<div id="map"></div>
	</div>
</div>
